header{
    background-color: blueviolet;
    margin: .5cm;
    padding: 1cm;
    border: solid 2px black;
}

nav li{
    border: solid 1px black;
    width: 200px;
    list-style-type: none;
    background: rgb(201, 179, 221);
    float: left;
}

body{
    background-color: rgb(201, 179, 221);
}

.foodlists{
    border: solid 2px black;
    margin: 1cm;
    padding: 4px;
}

.foodpics ul{
    display: inline-block;
    list-style: none;
    width: 100px;
    height: 100px;
    padding: 50px;
    
}

footer{
    background-color: blueviolet;
    border: solid 1px black;
}

.copyright{
    background-color: rgb(219, 6, 226);
}