header{
    background-color: blueviolet;
    padding: 1cm;
    border: solid 2px black;
    text-align: center;
}

h1{
    text-align: center;
}

hr{
    border: solid 5px black;
    margin: 0px;
}
nav li{
    border: solid 1px black;
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    list-style-type: none;
    background: rgb(201, 179, 221);
}

#div1{
    background-color:rgb(201, 179, 221)
}

#div2{
    background-color:rgb(201, 179, 221)
}

#div3{
    background-color:rgb(229, 228, 230)
}


body{
    background-color: rgb(201, 179, 221);
}

.foodlists{
    text-align: left;
    border: solid 2px black;
    padding: 5px;
}

.foodpics ul{
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 500px;
    padding: 80px;
}

.descriptions{
    text-align: center;
    width: 200px;
}

#button1{
    text-align: center;
    align-items: center;
}

#favFood{
    text-align: center;
}
footer{
    background-color: blueviolet;
    border: solid 1px black;
}

.copyright{
    background-color: rgb(219, 6, 226);
}